---
import Layout from '../../layouts/Layout.astro';
import { getCollection, render } from 'astro:content';
import { Image } from 'astro:assets';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }));
}

// const { id } = Astro.params;
const { post } = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>(
  '/src/assets/images/*.{jpg,jpeg,png,webp,avif,svg,gif}'
);
console.log(images);
console.log(post.data.thumbnail);

const imageUrl = post.data.thumbnail.startsWith('http')
  ? post.data.thumbnail
  : images[post.data.thumbnail]();
console.log(imageUrl);

// console.log(post);
const { Content } = await render(post);
---

<Layout>
  <main>
    <h1>{post.data.title}</h1>
    <div class="image">
      <Image src={imageUrl} width={400} height={300} alt={post.data.title} />
    </div>
    <div class="content">
      <Content />
    </div>
  </main>
</Layout>

<style>
  main {
    padding: 0 1rem;
  }
  h1 {
    text-align: center;
    margin-bottom: 40px;
  }
  .image {
    width: 100%;
    max-width: 400px;
    margin: 0 auto 40px;

    img {
      display: block;
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }
  }
  .content {
    max-width: 70ch;
    margin: 0 auto 40px;
  }
</style>
