---
import { Image } from 'astro:assets';
import Layout from '../../layouts/Layout.astro';
import { getCollection, render } from 'astro:content';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
}

// const { id } = Astro.params;
const { post } = Astro.props;
const imageUrl = post.data.thumbnail.startsWith('http')
  ? post.data.thumbnail
  : '../' + post.data.thumbnail;
// console.log(post);
const { Content } = await render(post);
---

<Layout>
  <main>
    <h1>{post.data.title}</h1>
    <img src={imageUrl} alt={post.data.title} />
    <Content />
  </main>
</Layout>

<style>
  main {
    padding: 0 2rem;
  }
  img {
    width: 400px;
    height: auto;
  }
</style>
