---
import BaseLayout from '@layouts/BaseLayout.astro';
---

<BaseLayout title="About">
  <article>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic amet nisi
      dicta illum quibusdam. Voluptatem beatae quis quod autem explicabo tempore
      praesentium enim, laborum officiis reprehenderit consequatur ducimus in
      alias!
    </p>
    <p>
      Nam assumenda corporis numquam fuga a modi in eum quis dignissimos! Rerum
      beatae corrupti nam libero! Sunt hic blanditiis, atque eligendi
      repellendus culpa quod? Doloribus dignissimos cum itaque voluptatem fugit!
    </p>
    <p>
      Assumenda, architecto cum doloremque eos incidunt sint ipsa nostrum harum
      laborum provident saepe dolor quod! Magnam soluta velit nisi rerum
      dignissimos quos enim est veritatis tempore. Iure minima enim dicta.
    </p>
    <p>
      Ab maiores ipsa enim cum eum excepturi ullam repellendus ut doloribus,
      maxime, ea dolorum eaque tempore nisi nam aspernatur, iure vero quis
      beatae esse delectus! Odit impedit eum cupiditate numquam.
    </p>
    <p>
      Inventore tenetur quia odio cumque. Facere officiis quis necessitatibus
      aliquam optio sed. Laudantium voluptatum minima eaque at optio veritatis
      explicabo, corrupti quas repudiandae similique eveniet quidem esse fuga
      dicta dolores?
    </p>
  </article>
</BaseLayout>
