---
import BaseLayout from '@layouts/BaseLayout.astro';
---

<BaseLayout title="Home">
  <h1>Home</h1>
  <article>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel, tenetur
      consectetur velit qui minus exercitationem perferendis voluptas! Eligendi
      dolores, porro quam rerum, ipsa sapiente aut dolorum repellendus incidunt
      recusandae exercitationem!
    </p>
    <p>
      Rerum quaerat reprehenderit magnam! Quod quae quidem voluptas repudiandae
      similique tenetur veniam reprehenderit vitae accusantium optio dolorem,
      non aliquid dolorum fugiat dicta distinctio atque maiores quam voluptates
      harum ducimus debitis?
    </p>
    <p>
      Explicabo exercitationem excepturi provident neque modi optio, consequatur
      blanditiis consectetur deleniti fugit mollitia temporibus, laborum est
      non! Necessitatibus, libero corrupti! Iste veniam beatae voluptate dolorum
      quis! Quae accusamus vel illum!
    </p>
    <p>
      Enim molestiae et in cupiditate quaerat adipisci rerum repellat, autem
      accusantium animi quisquam aliquid dolore alias. Voluptates nihil possimus
      illo facere velit enim ullam! Exercitationem odio aut nisi doloremque
      perspiciatis.
    </p>
    <p>
      Veniam, velit vero voluptates iste quia quam hic laborum sequi. Deserunt
      tenetur voluptatem odio quaerat dolorum repellat, obcaecati optio
      praesentium error sunt autem amet at dolor velit! Eum, velit aspernatur.
    </p>
    <p>
      Sunt voluptates commodi necessitatibus perspiciatis? Veniam reprehenderit
      pariatur maiores id in adipisci libero soluta eveniet deleniti ipsum at
      voluptatum, esse temporibus accusantium repellat facilis. Rem accusantium
      veniam nostrum numquam nisi!
    </p>
    <p>
      Officiis aspernatur inventore debitis. Et non unde vel doloribus provident
      quaerat tempora alias repellendus possimus esse in necessitatibus soluta
      accusamus minus veritatis cupiditate a voluptatibus vitae, voluptatem
      repellat dicta ad!
    </p>
    <p>
      Magni, numquam? Voluptates asperiores debitis, rerum neque at iusto
      suscipit perspiciatis et possimus, laboriosam molestias, quis placeat
      molestiae ab repellendus atque corporis quisquam exercitationem.
      Reprehenderit vel deleniti numquam cum ipsum.
    </p>
    <p>
      Aut saepe sed, voluptatum eius nostrum impedit libero obcaecati earum
      dolores blanditiis provident mollitia fuga rem velit, odit sint autem
      tenetur animi facere laborum non similique. Dolor aspernatur totam ab!
    </p>
    <p>
      Aperiam optio consectetur soluta doloremque. Ipsa ipsam aliquam dicta qui
      minima fuga, rerum totam dolor blanditiis voluptatibus quos. Rerum cum
      libero nemo assumenda omnis! Modi hic et sapiente nam minima.
    </p>
  </article>
</BaseLayout>

<style></style>
