---
const { href, ...props } = Astro.props;
---

<li
  aria-current={Astro.url.pathname === href ||
  Astro.url.pathname.startsWith(`${href}/`)
    ? true
    : false}
>
  <a href={href}><slot /> </a>
</li>

<style>
  li {
    transition: 0.3s ease-in-out;
    border-bottom: 2px solid;
    border-bottom-color: transparent;
    &:hover {
      border-bottom-color: #999;
    }

    &[aria-current='true'] {
      font-weight: bold;
      border-bottom-color: #999;
    }
  }
</style>
